<!DOCTYPE html>
<html>

<head>
  <title>Backend | VSCODE</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <form action="/create" method="POST">
        <input name="filename" type="text" placeholder="dummy.dummy">
      </form>
      <ul>
        <% dirdata.forEach(dd=> { %>
          <li style="display: flex; align-items: center;">
            <a href="/<%= dd%>">
              <%= dd%>
            </a>

            <a href="/delete/<%= dd%>"> <img width="20" src="/images/delete.png" alt=""></a>

          </li>
          <% }) %>
      </ul>
    </div>
    <div class="file">
      <form action="/save/<%= filename%>" method="POST">
        <textarea name="filedata" cols="30" rows="10"><%= data%></textarea>
        <button>Save</button>
      </form>
    </div>
  </div>
</body>

</html>